body {
    font-family:'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

.encabezado {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.encabezado ul {
    align-items: center;
    display: flex;
    list-style: none;
    color: #fff;
    margin-right: 35px;
    justify-content: space-around;
    gap: 15px;
}

.contenedor {
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.envios img {
    display: flex;
    margin-top: 60px;
    justify-content: flex-start;
    margin-bottom: 60px;
    width: 650px;
    height: 500px;
}

.envios h2 {
    color: #FC200C;
    font-weight: bold;
    display: flex;
    gap: 15px;
    position: absolute;
    width: 350px;
    height: 28px;
    left: 135px;
    top: 192px;   
}

.pizzas {
    background-color: #fff;
    height: 500px;
    width: 650px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.pizzas h2 {
    color: #FC200C;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
}

.pizzas-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

.pizza-contenedor-menu {
    padding-left: 40px;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 5px 0px;
    line-height: 40px;
}

.pizza-contenedor-img {
    margin-right: 5px;
    margin-top: 76px;
    height: 50%;
    width: 20%;
}

.contacto {
    background-color:  #222222;
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.contacto img {
    display: flex;
    justify-content: space-between;
    margin: 27px;
}

.contacto ul {
    line-height: 30px;
    list-style: none;
    color: #fff;
    margin: 0px;
    padding: 15px;
}